body{
    display: flex;
    flex-direction: column;
}
header {
    text-align: center;
    font-size: 4em;
}

.custom-row {
    padding-top: 20px;
}

.card > img {
    height: 200px;
}

.card {
    height: 480px;
}