body{
    display: flex;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
.app .row {
    margin:0;
    max-width: 100vw !important;
}
header {
    text-align: center;
    font-size: 4em;
}

.custom-row {
    padding-top: 40px;
}

.img-box > img {
    height: 200px;
}
.img-box {
    overflow: hidden;
}
.img-box > img:hover {
    transition: transform ease-in-out .5s;
    transform: scale(1.2);
}

.card {
    height: 500px;
    width: 300px;
}

.card:hover{
    transition: all ease .5s;
    -webkit-box-shadow: 10px 10px 21px -1px rgba(102,97,102,1);
    -moz-box-shadow: 10px 10px 21px -1px rgba(102,97,102,1);
    box-shadow: 10px 10px 21px -1px rgba(102,97,102,1);
}
.card-body > a {
    position: absolute;
    bottom: 10px;
}