body{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.app .row {
    margin:0;
    max-width: 100vw !important;
}
#headerTop {
  /* margin-top: 80px; */
    text-align: center;
    font-size: 4em;
}
h4 {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
}
.custom-row {
    padding-top: 40px;
}

.img-box > img {
    height: 200px;
    
}
.img-box {
    overflow: hidden;
    margin: auto;
}

.nohover:hover {
    all:unset
}
.img-box > img:hover {
    transition: transform ease-in-out .5s;
    transform: scale(1.2);
}

.card {
    height: 500px;
    width: 300px;
}

.card:hover{
    transition: all ease .5s;
    -webkit-box-shadow: 10px 10px 21px -1px rgba(102,97,102,1);
    -moz-box-shadow: 10px 10px 21px -1px rgba(102,97,102,1);
    box-shadow: 10px 10px 21px -1px rgba(102,97,102,1);
}
.card-body > a {
    position: absolute;
    bottom: 10px;
}


@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url("https://fonts.googleapis.com/css?family=Quicksand");
section.sosial {
    position: fixed;
    top: 400px;
    left: -50px;
    z-index: 1;
}
section.sosial ul >  {
  list-style: none;
  
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
section.sosial > ul li a {
  display: block;
  margin-left: -2px;
  height: 60px;
  width: 60px;
  border-radius: 0 25px 25px 0;
  border: 2px solid #000;
  background: #fff;
  margin-bottom: 1em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #2980b9;
  text-decoration: none;
  line-height: 60px;
  position: relative;
}
section.sosial > ul li a:hover {
  cursor: pointer;
  width: 140px;
  color: #fff;
}
section.sosial > ul li a:hover span {
  left: 0;
}
section.sosial > ul li a span {
  padding: 0 30px 0 15px;
  position: absolute;
  left: -120px;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
}
section.sosial > ul li a i {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5em;
}
section.sosial > ul li .spotify {
  background: rgba(39, 174, 96, 0.1);
  border-color: #27ae60;
  color: #27ae60;
}
section.sosial > ul li .spotify:hover {
  background: #27ae60;
}
section.sosial > ul li .soundcloud {
  background: rgba(230, 126, 34, 0.1);
  border-color: #e67e22;
  color: #e67e22;
}
section.sosial > ul li .soundcloud:hover {
  background: #e67e22;
}
section.sosial > ul li .skype {
  background: rgba(34, 167, 240, 0.1);
  border-color: #22a7f0;
  color: #22a7f0;
}
section.sosial > ul li .skype:hover {
  background: #22a7f0;
}
section.sosial > ul li .dribbble {
  background: rgba(210, 82, 127, 0.1);
  border-color: #d2527f;
  color: #d2527f;
}
section.sosial > ul li .dribbble:hover {
  background: #d2527f;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

.author-info {
	width: 290px;
	height: 50px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 12px 45px rgba(0, 0, 0, .15);
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 0 0 10px 0;
	overflow: hidden;
	opacity: 0;
}
.author-info.open {
	height: 270px;
	opacity: 1;
}
.author-info.popup {
	-webkit-transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.author-info.popup > header {
    padding: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.5em;
}
.author-info-fab {
	width: 65px;
	height: 65px;
	background-color: #00aeef;
	border-radius: 30px;
    float: right;
	box-shadow: 0px 12px 45px rgba(0, 0, 0, .3);
	z-index: 5;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-info-fab:hover {
    cursor: pointer;
}
.author-info-fab .wrap {
    
	transform: rotate(0deg);
	-webkit-transition: all .15s cubic-bezier(0.15, 0.87, 0.45, 1.23);
	transition: all .15s cubic-bezier(0.15, 0.87, 0.45, 1.23);
}
.author-info-fab .close {
	background-position: -2px 1px;
	transform: rotate(-45deg);
	float: none;
	/*Bootstrap Overide*/
	opacity: 1;
	/*Bootstrap Overide*/
}
.author-info-wrap {
    position: fixed;
	right: 25px;
	bottom: 25px;
	z-index: 1000;
}

.team-box {
    width: 100%;
    border: 1px #000 ;
    display: flex;
    flex-direction: row;
}

.team-info-box {
    width: 50%;
}

.team-info-box > img {
    width: 80px;

}

.team-info-box > .name {
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    font-weight: 800;
    margin: 10px 0px 0px 0px;
    line-height: 8px;
}
.team-info-box > .nim {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: .7em;
    margin: 0px;
}
.team-info-box > .role {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: .8em;
    margin: 0px;
}

.foot {
    margin-top: 15%;
}
.foot > p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: .8em;
}


/* COVID */

section.covid {
  position: fixed;
  width: 160px;
  height: 380px;
  left: 0;
  top: 140px;
  z-index: 2;
}

section.covid > div.covid-box {
  border-radius: 20px;
  margin-right: auto;
  /* margin-left: -100%; */
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  height: 100%;
  background-color:#f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  -webkit-transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          
  z-index: 2;
}
section.covid > div.covid-box >p {
  margin:0;
  margin:auto;
}

section.covid > div.covid-box.open {
  transform: translateX(111%);
  
}
section.covid > div.toggle-covid.open {
  transform: translateX(240px);
  
}

section.covid > div.covid-box > div.covid-box_counter {
  width: 98%;
  height: 21%;
  /* margin: 20px; */
}
div.covid-box_counter#confirmed{background-color: #2C347C;}
div.covid-box_counter#recover{background-color: #ec6f58;}
div.covid-box_counter#died{background-color: #3c928c;}
div.covid-box_counter#active{background-color: #ceb546;}

section.covid > div.covid-box > div.covid-box_counter > h1 {
  font-size: .8em;
  color: #fff;
  text-align: center;
  font-weight: bolder;
}
section.covid > div.covid-box > div.covid-box_counter > p#number {
  margin: unset;
  color: #fff;
  text-align: center;
  font-weight: bolder;
  font-size: 1.7em;
  line-height: 4px;
  margin-top: 16px;
}
section.covid > div.covid-box > div.covid-box_counter > p#number-info {
  margin: unset;
  color: #fff;
  text-align: center;
  font-size: .7em;
  margin-top: 16px;
}

.toggle-covid {
  position: absolute;
  background-color: rgb(72, 135, 228);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-left: -30px ; */
  width: 60px;
  height: 60px;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  top: 90px;
  z-index: -1;
  -webkit-transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.toggle-covid:hover {
  cursor: pointer;

}

.chevron {
  font-size: 1.5em !important;
  padding-right: 10px;
  color: #f2f2f2;
}